.card {
  width: 100%;
  border: 1px solid #7d7d7d;
}

.cont {
  background-color: palegoldenrod;
}

.card-bod {
  border-top: 1px solid #7d7d7d;
}

.img-div-h {
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 90%;
  width: 80%;
}

.card-sel {
  border: 1px solid green;
  background-color: #00ff272e;
  cursor: pointer;
}

.card-point {
  cursor: pointer;
}

.inp-w {
  width: 30%;
}

.big-div {
  background-color: palegoldenrod;
}

.my-btn {
  width: 6rem;
}
